<!DOCTYPE html>
<html lang="ko">

<head>
        <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="copyright" content="@Social News Co. Ltd All Right Reserved">
<meta name="keywords" content="&#44053;&#50500;&#51648;,&#50517;&#49324;,BJ">

<meta name="robots" content="max-image-preview:large">


<meta name="csrf-token" value="CMKzEQHHSNSNQTGc9baRmgdixiAXY43VrjWWsJ31">
<meta name="referrer" content="no-referrer-when-downgrade">
<meta name="author" content="&#50980;&#55148;&#51221;">

<meta name="byl" content="By &#50980;&#55148;&#51221; hjyun@wikitree.co.kr">
<meta property="og:type" content="article">
<meta property="og:title" content="&#49373;&#48169;&#49569;&#51004;&#47196; &#44053;&#50500;&#51648; '&#50517;&#49324;' &#51109;&#47732; &#44536;&#45824;&#47196; &#45236;&#48372;&#45240; BJ, &#44208;&#44397; &#51060;&#47088; &#44208;&#51221; &#45236;&#47160;&#45796;">
<meta name="description" content="&#49696;&#47673;&#48169; &#46020;&#51473; &#51104;&#46308;&#50612; &#44053;&#50500;&#51648;&#47484; &#50517;&#49324;&#49884;&#53416; &#50500;&#54532;&#47532;&#52852;TV BJ&#44032; &#44208;&#44397; &#52292;&#45328;&#51012; &#55092;&#47732; &#49345;&#53468;&#47196; &#51204;&#54872;&#54664;&#45796;.&#54644;&#45817; BJ&#45716; &#51648;&#45212; 1&#51068; &#49696;&#47673;&#48169; &#46020;&#51473; &#48169;&#49569;&#51012; &#53024; &#52292;&#47196; &#51104;&#46308;&#50632;&#45796;. &#47564;&#52712; &#49345;&#53468;&#47196; &#51104;&#46304; &#44536;&#45716; &#47800;&#51012; &#46244;&#52377;&#51060;&#45796; &#50694;&#50640; &#51080;&#45912; &#49352;&#45180; &#44053;&#50500;&#51648;&#47484; &#44628;&#50500;&#47945;&#44080;&#45796;.&#51060;&#54980; &#49352;&#45180; &#44053;&#50500;&#51648;&#44032; &#49688;&#49901;&#48516; &#46041;&#50504; &#48156;&#48260;&#46181;&#52824;&#45716;&hellip;">
<meta property="og:description" content="&#47564;&#52712; &#49345;&#53468;&#47196; &#51104;&#46308;&#50632;&#45796; &#44053;&#50500;&#51648; &#44628;&#50500;&#47945;&#44064; BJ,&#48156;&#48260;&#46181;&#52824;&#45796; &#44208;&#44397; &#50517;&#49324; &#45817;&#54620; &#44053;&#50500;&#51648;">
<meta property="og:site_name" content="&#50948;&#53412;&#53944;&#47532;">
<meta property="og:type" content="article">
<meta property="og:locale" content="ko_KR">

<meta property="og:image:type" content="image/jpeg">

<meta property="og:image:width" content="1200">

<meta property="og:image:height" content="628"> 
<meta property="og:image" content="https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/202110040957419866.jpg">

<meta name="googlebot" content="all">

<meta property="og:url" content="https://www.wikitree.co.kr/articles/694254"><meta property="keyword" content="&#44053;&#50500;&#51648;,&#50517;&#49324;,BJ">
<meta property="category" content="5425">
<meta property="article:author" content="https://www.facebook.com/wikitree.page">
<meta property="article:publisher" content="https://www.facebook.com/wikitree.page">
<meta property="article:published_time" content="2021-10-04T10:24:00+09:00">
<meta property="article:section" content="&#50644;&#53552;">

<meta itemprop="datePublished" content=" 2021-10-04KST10:24:00+09:00">
<meta itemprop="name" content="&#49373;&#48169;&#49569;&#51004;&#47196; &#44053;&#50500;&#51648; '&#50517;&#49324;' &#51109;&#47732; &#44536;&#45824;&#47196; &#45236;&#48372;&#45240; BJ, &#44208;&#44397; &#51060;&#47088; &#44208;&#51221; &#45236;&#47160;&#45796; | &#50948;&#53412;&#53944;&#47532;">
<meta itemprop="image" content="https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/202110040957419866.jpg">

<meta name="twitter:site" value="@wikitree">
<meta name="twitter:creator" content="@wikitree">
<meta name="twitter:title" content="&#49373;&#48169;&#49569;&#51004;&#47196; &#44053;&#50500;&#51648; '&#50517;&#49324;' &#51109;&#47732; &#44536;&#45824;&#47196; &#45236;&#48372;&#45240; BJ, &#44208;&#44397; &#51060;&#47088; &#44208;&#51221; &#45236;&#47160;&#45796;">
<meta name="twitter:image" content="https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/202110040957419866.jpg">
<meta name="twitter:description" content="&#47564;&#52712; &#49345;&#53468;&#47196; &#51104;&#46308;&#50632;&#45796; &#44053;&#50500;&#51648; &#44628;&#50500;&#47945;&#44064; BJ,&#48156;&#48260;&#46181;&#52824;&#45796; &#44208;&#44397; &#50517;&#49324; &#45817;&#54620; &#44053;&#50500;&#51648;">
<meta name="twitter:card" content="summary_large_image">
<meta property="fb:app_id" content="641048386093993">

<title>&#49373;&#48169;&#49569;&#51004;&#47196; &#44053;&#50500;&#51648; '&#50517;&#49324;' &#51109;&#47732; &#44536;&#45824;&#47196; &#45236;&#48372;&#45240; BJ, &#44208;&#44397; &#51060;&#47088; &#44208;&#51221; &#45236;&#47160;&#45796; | &#50948;&#53412;&#53944;&#47532;</title>


<link rel="alternate" media="only screen and (max-width: 640px)" href="https://m.wikitree.co.kr/articles/694254">
<link rel="canonical" href="https://www.wikitree.co.kr/articles/694254">
<link rel="alternate" type="application/rss+xml" href="https://www.wikitree.co.kr/rss/headline/feed">
<link rel="alternate" type="application/rss+xml" href="https://www.wikitree.co.kr/rss/bestclick/feed">
<link rel="alternate" type="application/rss+xml" href="https://www.wikitree.co.kr/rss/category/54">
<link rel="alternate" type="application/rss+xml" href="https://www.wikitree.co.kr/rss/user/16706">

<script async defer src="js/js-gpt.js"></script>
<script type="text/javascript">
  window.googletag = window.googletag || {};
  window.googletag.cmd = window.googletag.cmd || [];
  window.googletag = window.googletag || {
    cmd: []
  };

  googletag.cmd.push(function() {
    googletag.defineSlot('/156264644/wikitree_web19_4_event_index_wingr1', [160, 160], 'div-gpt-ad-main-right').addService(googletag.pubads()).setCollapseEmptyDiv(true)
    googletag.defineSlot('/156264644/wikitree_web19_4_side_top', [300, 130], 'div-gpt-ad-sub-contents').addService(googletag.pubads()).setCollapseEmptyDiv(true)
    googletag.defineSlot('/156264644/wikitree_web19_4_body_top', [1000, 150], 'div-gpt-ad-1575954131772-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_side_btm1', [300, 56], 'div-gpt-ad-1575948070254-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_side_btm2', [300, 56], 'div-gpt-ad-1575948227194-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_side_btm3', [300, 56], 'div-gpt-ad-1575948275154-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_side_btm4', [300, 600], 'div-gpt-ad-1575948368312-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_wingl1', [160, 160], 'div-gpt-ad-1575947540682-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_wingl2', [160, 600], 'div-gpt-ad-1575947637325-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_wingl3', [160, 600], 'div-gpt-ad-1575947637123-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_side_bc', [300, 250], 'div-gpt-ad-1575948021345-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_wingr1', [160, 600], 'div-gpt-ad-1576742886065-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_wingr2', [160, 600], 'div-gpt-ad-1575947688810-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_wingr3', [
      [160, 140],
      [160, 200]
    ], 'div-gpt-ad-1576042949726-0').addService(googletag.pubads());
    googletag.defineSlot('/156264644/wikitree_web19_4_side_na', [
      [300, 230],
      [300, 250]
    ], 'div-gpt-ad-1575962278586-0').addService(googletag.pubads());
    googletag.pubads().collapseEmptyDivs();
    googletag.enableServices();

  });
</script>
<!-- Clarity tracking code for https://www.wikitree.co.kr/ -->
<script>
  (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i+"?ref=bwt";        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "f9bjg5796f");
</script>


<script async src="js/js-adsbygoogle.js"></script>
 <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-2143895566632659",
    enable_page_level_ads: true
  });
</script>

<script type="application/ld+json">
  {
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://www.wikitree.co.kr/articles/694254"},
    "headline": "&#49373;&#48169;&#49569;&#51004;&#47196; &#44053;&#50500;&#51648; &#039;&#50517;&#49324;&#039; &#51109;&#47732; &#44536;&#45824;&#47196; &#45236;&#48372;&#45240; BJ, &#44208;&#44397; &#51060;&#47088; &#44208;&#51221; &#45236;&#47160;&#45796;",  "thumbnailUrl":"https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/202110040957419866.jpg",
    "image": 
    [
      "https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/202110040957419866.jpg",
        "https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/img_20211004095402_2a909e63.webp",        "https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/img_20211004095212_14bcc7ba.webp",        "https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/img_20211004095439_c72cbedd.webp"        ],
    "datePublished": "2021-10-04T10:24:00+09:00",
    "dateModified": "2021-10-04T17:02:00+09:00",
    "author": {
      "@type": "Person",
      "name": "&#50980;&#55148;&#51221;",
      "url": "https://www.wikitree.co.kr/users/16706"
    },
    "publisher": {
    "@type": "Organization",
    "name": "&#50948;&#53412;&#53944;&#47532;",
    "url":"https://www.wikitree.co.kr",
    "logo": 
    {
      "@type": "ImageObject",
      "url": "//cdnweb01.wikitree.co.kr/webdata/editor/_common/ic_500.png"
    }
  },
  "description": "&#49696;&#47673;&#48169; &#46020;&#51473; &#51104;&#46308;&#50612; &#44053;&#50500;&#51648;&#47484; &#50517;&#49324;&#49884;&#53416; &#50500;&#54532;&#47532;&#52852;TV BJ&#44032; &#44208;&#44397; &#52292;&#45328;&#51012; &#55092;&#47732; &#49345;&#53468;&#47196; &#51204;&#54872;&#54664;&#45796;.&#54644;&#45817; BJ&#45716; &#51648;&#45212; 1&#51068; &#49696;&#47673;&#48169; &#46020;&#51473; &#48169;&#49569;&#51012; &#53024; &#52292;&#47196; &#51104;&#46308;&#50632;&#45796;. &#47564;&#52712; &#49345;&#53468;&#47196; &#51104;&#46304; &#44536;&#45716; &#47800;&#51012; &#46244;&#52377;&#51060;&#45796; &#50694;&#50640; &#51080;&#45912; &#49352;&#45180; &#44053;&#50500;&#51648;&#47484; &#44628;&#50500;&#47945;&#44080;&#45796;.&#51060;&#54980; &#49352;&#45180; &#44053;&#50500;&#51648;&#44032; &#49688;&#49901;&#48516; &#46041;&#50504; &#48156;&#48260;&#46181;&#52824;&#45716;&hellip;"
}
</script>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": [
      "NewsMediaOrganization",
      "Organization",
      "WebSite"
        ,"BreadcrumbList"    ],
    "name": "&#50948;&#53412;&#53944;&#47532;",
    "inLanguage": "ko-KR",
    "potentialAction": {
      "@type": "SearchAction",
      "target": {
        "@type": "EntryPoint",
        "urlTemplate": "https://www.wikitree.co.kr/search?q={search_term_string}"
      },
      "query-input": "required name=search_term_string"
    },
        "itemListElement": [
            {
      "@type": "ListItem",
      "position": 1,
      "name": "&#50644;&#53552;",
      "item": "https://www.wikitree.co.kr/categories/54"
      },            {
      "@type": "ListItem",
      "position": 2,
      "name": "&#49472;&#47101;",
      "item": "https://www.wikitree.co.kr/categories/54/25"
      }          ],
        "logo": {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "url": "https://cdnweb01.wikitree.co.kr/webdata/logo/202302/09/logo_20230209155902_bd5fbaf9.gif",
      "height": 50,
      "width": 270
    },
    "url": "https://www.wikitree.co.kr/",
    "foundingDate": "2010-02-02",
    "sameAs": [
      "http://wwww.facebook.com/wikitree.page",
      "http://twitter.com/wikitree",
      "http://www.instagram.com/wikitree",
      "https://story.kakao.com/ch/wikitree",
      "https://pf.kakao.com/_uKFHd",
      "https://post.naver.com/my.nhn?memberNo=21959512",
      "https://band.us/@wikitreepage",
      "https://www.tiktok.com/@wikitree.official",
      "https://www.youtube.com/user/wikitree4you"
    ],
    "alternateName": [
      "&#50948;&#53412;&#53944;&#47532;",
      "WIKITREE",
      "&#50948;&#53412;&#53944;&#47532; WIKITREE"
    ]
  }
</script>


<script type="text/javascript">
        window._taboola = window._taboola || [];
        _taboola.push({article:'auto'});
        !function (e, f, u, i) {
            if (!document.getElementById(i)){
                e.async = 1;
                e.src = u;
                e.id = i;
                f.parentNode.insertBefore(e, f);
            }
        }(document.createElement('script'),
            document.getElementsByTagName('script')[0],
            '//cdn.taboola.com/libtrc/wikitree-korea-dekstop/loader.js',
            'tb_loader_script');
        if(window.performance && typeof window.performance.mark == 'function')
        {window.performance.mark('tbl_ic');}

        window._taboola = window._taboola || [];
        _taboola.push({
            mode: 'alternating-thumbnails-a',
            container: 'taboola-below-article-thumbnails',
            placement: 'Below Article Thumbnails',
            target_type: 'mix'
        });
    </script>
<link rel="shortcut icon" href="favicons/_common-favicon.png">
<link rel="apple-touch-icon" href="favicons/_common-favicon.png">
<meta name="google-site-verification" content="Q87-8Y7BFIzurvFK10MCv_JGIKoLKudgmXdzLUaKDrQ">
<meta name="naver-site-verification" content="facd722de570fb865bf2166c37f6078f318b8f54">
<meta name="news_keywords" content="&#44053;&#50500;&#51648;,&#50517;&#49324;,BJ, &#50948;&#53412;&#53944;&#47532;">


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z4419HKMTJ"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
</script>
<script>
  gtag('config', 'G-Z4419HKMTJ', {
    'page_title': '&#49373;&#48169;&#49569;&#51004;&#47196; &#44053;&#50500;&#51648; \'&#50517;&#49324;\' &#51109;&#47732; &#44536;&#45824;&#47196; &#45236;&#48372;&#45240; BJ, &#44208;&#44397; &#51060;&#47088; &#44208;&#51221; &#45236;&#47160;&#45796;',
    'page_location': '/articles/694254',
    'author_id': '16706',
    'author_name': '&#50980;&#55148;&#51221;',
    'author_team': 'E&#51312;',
    'keywords': '&#44053;&#50500;&#51648;,&#50517;&#49324;,BJ',
    'category_name': '&#50644;&#53552;-&#49472;&#47101;',
    'senddate': '2021-10-04 10:24'
  });

</script>

<script src="js/1168126-taboola-push-sdk.js"></script>
<!-- meyer v2.0 -->
<link rel="stylesheet" as="style" type="text/css" href="css/css-reset.css">

<link rel="stylesheet" as="style" type="text/css" href="css/css-all.min.css">
<!-- google material-design-icons -->
<link rel="stylesheet" as="style" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" as="style" href="https://fastly.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css">
<link rel="stylesheet" as="style" type="text/css" href="css/css-style.css"></head>

<body>

        <div class="wrapper" id="app">
            <notify :notify="notify"></notify>
<header class="header  header_l " id="header">

    <!-- &#53457; &#47196;&#44256; center -->
        <div class="top clearfix " id="logo">

        <!-- &#47196;&#44256; -->
        <div class="logo" title="&#47196;&#44256;">
            <a href="www.wikitree.co.html" title="&#50948;&#53412;&#53944;&#47532; &#54856;" target="_self">
                <span class="sr-only">&#50948;&#53412;&#53944;&#47532;</span>
                <img class="symbol_logo" src="images/img-logo.png" alt="&#50948;&#53412;&#53944;&#47532;">

            </a>
                                    <a href="54.html" title="&#52852;&#53580;&#44256;&#47532; &#54856;" target="_self">
                <span class="category_name">
                                        &#50644;&#53552;
                                    </span>
            </a>
                                </div>

        <div class="left_ban">
            <dfp-slot path="/156264644/wikitree_web19_4_head1" :size="[260, 70]" id="div-gpt-ad-1575947257008-0">
            </dfp-slot>
        </div>

        <div class="right_ban">
            <dfp-slot path="/156264644/wikitree_web19_4_head2" :size="[260, 70]" id="div-gpt-ad-1575947343782-0">
            </dfp-slot>
        </div>

    </div>
        <!-- &#47700;&#45684; -->
    <div class="nav_wrap">
        <button type="button" class="toggle_menu_btn" v-on:click="toggle_menu_btn">
            <span><i class="material-icons">menu</i></span>
        </button>
        <!-- &#51204;&#52404;&#47700;&#45684; -->
        <div id="snb">
            <button type="button" class="toggle_menu_btn" v-on:click="toggle_menu_btn">
                <span><i class="material-icons">clear</i></span>
            </button>

                                    <ul class="snb_category">
                <li><a href="68.html" title="&#44221;&#51228;">&#44221;&#51228;</a>
                                        <ul class="snb_category_sub">
                                                <li><a href="69.html" title="&#51068;&#48152;">&#51068;&#48152;</a></li>
                                                <li><a href="70.html" title="&#49328;&#50629;">&#49328;&#50629;</a></li>
                                                <li><a href="71.html" title="&#51204;&#51088;">&#51204;&#51088;</a></li>
                                                <li><a href="72.html" title="&#51088;&#46041;&#52264;">&#51088;&#46041;&#52264;</a></li>
                                                <li><a href="73.html" title="IT&middot;&#53685;&#49888;&middot;&#44172;&#51076;">IT&middot;&#53685;&#49888;&middot;&#44172;&#51076;</a></li>
                                                <li><a href="74.html" title="&#50640;&#45320;&#51648;&middot;&#54868;&#54617;">&#50640;&#45320;&#51648;&middot;&#54868;&#54617;</a></li>
                                                <li><a href="75.html" title="&#51312;&#49440;&middot;&#52384;&#44053;&middot;&#51473;&#44277;&#50629;">&#51312;&#49440;&middot;&#52384;&#44053;&middot;&#51473;&#44277;&#50629;</a></li>
                                                <li><a href="76.html" title="&#54637;&#44277;&middot;&#47932;&#47448;">&#54637;&#44277;&middot;&#47932;&#47448;</a></li>
                                                <li><a href="77.html" title="&#44148;&#49444;&middot;&#48512;&#46041;&#49328;">&#44148;&#49444;&middot;&#48512;&#46041;&#49328;</a></li>
                                                <li><a href="78.html" title="&#50976;&#53685;">&#50976;&#53685;</a></li>
                                                <li><a href="93.html" title="&#44552;&#50997;&middot;&#51613;&#44428;">&#44552;&#50997;&middot;&#51613;&#44428;</a></li>
                                                <li><a href="94.html" title="&#51228;&#50557;&middot;&#48148;&#51060;&#50724;">&#51228;&#50557;&middot;&#48148;&#51060;&#50724;</a></li>
                                            </ul>
                                    </li>
            </ul>
                        <ul class="snb_category">
                <li><a href="54.html" class="lnb_active" title="&#50644;&#53552;">&#50644;&#53552;</a>
                                        <ul class="snb_category_sub">
                                                <li><a href="7.html" title="&#48169;&#49569;">&#48169;&#49569;</a></li>
                                                <li><a href="25.html" title="&#49472;&#47101;">&#49472;&#47101;</a></li>
                                            </ul>
                                    </li>
            </ul>
                        <ul class="snb_category">
                <li><a href="79.html" title="&#46972;&#51060;&#54532;">&#46972;&#51060;&#54532;</a>
                                        <ul class="snb_category_sub">
                                                <li><a href="80.html" title="&#51068;&#48152;">&#51068;&#48152;</a></li>
                                                <li><a href="95.html" title="&#47532;&#48729;">&#47532;&#48729;</a></li>
                                                <li><a href="81.html" title="&#54392;&#46300;">&#54392;&#46300;</a></li>
                                                <li><a href="82.html" title="&#54056;&#49496;&#48624;&#54000;">&#54056;&#49496;&#48624;&#54000;</a></li>
                                                <li><a href="83.html" title="&#44172;&#51076;">&#44172;&#51076;</a></li>
                                                <li><a href="84.html" title="&#46041;&#47932;">&#46041;&#47932;</a></li>
                                                <li><a href="85.html" title="&#44148;&#44053;">&#44148;&#44053;</a></li>
                                                <li><a href="104.html" title="&#50668;&#54665;">&#50668;&#54665;</a></li>
                                            </ul>
                                    </li>
            </ul>
                        <ul class="snb_category">
                <li><a href="11.html" title="&#49828;&#54252;&#52768;">&#49828;&#54252;&#52768;</a>
                                        <ul class="snb_category_sub">
                                            </ul>
                                    </li>
            </ul>
                        <ul class="snb_category">
                <li><a href="55.html" title="&#49324;&#54924;">&#49324;&#54924;</a>
                                        <ul class="snb_category_sub">
                                                <li><a href="86.html" title="&#51068;&#48152;">&#51068;&#48152;</a></li>
                                                <li><a href="87.html" title="&#44368;&#50977;">&#44368;&#50977;</a></li>
                                            </ul>
                                    </li>
            </ul>
                        <ul class="snb_category">
                <li><a href="4.html" title="&#51221;&#52824;">&#51221;&#52824;</a>
                                        <ul class="snb_category_sub">
                                            </ul>
                                    </li>
            </ul>
                        <ul class="snb_category">
                <li><a href="88.html" title="&#47928;&#54868;">&#47928;&#54868;</a>
                                        <ul class="snb_category_sub">
                                                <li><a href="19.html" title="&#51068;&#48152;">&#51068;&#48152;</a></li>
                                                <li><a href="27.html" title="&#50689;&#54868;">&#50689;&#54868;</a></li>
                                                <li><a href="26.html" title="&#51020;&#50501;">&#51020;&#50501;</a></li>
                                            </ul>
                                    </li>
            </ul>
                        <ul class="snb_category">
                <li><a href="90.html" title="&#50900;&#46300;">&#50900;&#46300;</a>
                                        <ul class="snb_category_sub">
                                                <li><a href="91.html" title="&#53664;&#54589;">&#53664;&#54589;</a></li>
                                                <li><a href="92.html" title="&#54620;&#47448;">&#54620;&#47448;</a></li>
                                            </ul>
                                    </li>
            </ul>
                        <ul class="snb_category">
                <li><a href="103.html" title="&#50937;&#53808;">&#50937;&#53808;</a>
                                        <ul class="snb_category_sub">
                                            </ul>
                                    </li>
            </ul>
                        
            <ul class="snb_category">
                <li><a href="all.html" title="&#51648;&#50669;&#52712;&#51116;&#48376;&#48512;">&#51648;&#50669;&#52712;&#51116;&#48376;&#48512;</a>
                    <ul class="snb_category_sub">
                                                <li><a href="all.html" title="&#51204;&#52404;">&#51204;&#52404;</a></li>
                                                <li><a href="seoul.html" title="&#49436;&#50872;">&#49436;&#50872;</a></li>
                                                <li><a href="busan.html" title="&#48512;&#49328;&#44221;&#45224;">&#48512;&#49328;&#44221;&#45224;</a></li>
                                                <li><a href="geonggi.html" title="&#44221;&#44592;&#51064;&#52380;">&#44221;&#44592;&#51064;&#52380;</a></li>
                                                <li><a href="honam.html" title="&#44305;&#51452;&#51204;&#45224;">&#44305;&#51452;&#51204;&#45224;</a></li>
                                                <li><a href="daegu.html" title="&#45824;&#44396;&#44221;&#48513;">&#45824;&#44396;&#44221;&#48513;</a></li>
                                                <li><a href="jeonbuk.html" title="&#51204;&#48513;">&#51204;&#48513;</a></li>
                                                <li><a href="chungcheong.html" title="&#52649;&#52397;">&#52649;&#52397;</a></li>
                                            </ul>
                </li>
            </ul>
            <!-- &#49828;&#54168;&#49500; &#47700;&#45684; -->
            <div class="div_ln"></div>
            <ul class="snb_category">
                <li><a href="bestclick.html" title="&#48288;&#49828;&#53944;&#53364;&#47533;">&#48288;&#49828;&#53944;&#53364;&#47533;</a></li>
                <li><a href="https://m.me/118955304823840" target="_blank" title="&#51228;&#48372;">&#51228;&#48372;</a></li>
            </ul>
        </div>
        <!-- //&#51204;&#52404;&#47700;&#45684; -->

        <nav class="lnb">
            <ul class="">
                                                <li><a href="68.html" title="&#44221;&#51228;">&#44221;&#51228;</a></li>
                                <li><a href="54.html" class="lnb_active" title="&#50644;&#53552;">&#50644;&#53552;</a></li>
                                <li><a href="79.html" title="&#46972;&#51060;&#54532;">&#46972;&#51060;&#54532;</a></li>
                                <li><a href="11.html" title="&#49828;&#54252;&#52768;">&#49828;&#54252;&#52768;</a></li>
                                <li><a href="55.html" title="&#49324;&#54924;">&#49324;&#54924;</a></li>
                                <li><a href="4.html" title="&#51221;&#52824;">&#51221;&#52824;</a></li>
                                <li><a href="88.html" title="&#47928;&#54868;">&#47928;&#54868;</a></li>
                                <li><a href="90.html" title="&#50900;&#46300;">&#50900;&#46300;</a></li>
                                <li><a href="103.html" title="&#50937;&#53808;">&#50937;&#53808;</a></li>
                                                <li><a href="all.html" title="&#51648;&#50669;&#52712;&#51116;&#48376;&#48512;">&#51648;&#50669;&#52712;&#51116;&#48376;&#48512;</a>
                </li>
            </ul>
        </nav>
        <!-- //&#47700;&#51064;&#47700;&#45684; -->
        <div class="search_wrap">
            <label for="search" class="sr-only">&#44160;&#49353;</label>
            <input name="q" type="search" id="" class="search_box" placeholder="" aria-label="&#44160;&#49353;&#50612; &#51077;&#47141;" autocomplete="off" v-model="keyword" v-on:keyup.enter="search()">

            <i class="fas fa-search"></i>

        </div>

    </div>
    <!-- //&#47700;&#45684; -->
    <!-- &#44536;&#46972;&#45936;&#51060;&#49496;&#46972;&#51064; -->
    <div class="section_bar"></div>
    <bknews v-if="bb" v-bind:article="bb"></bknews>

    <div id="ctginfo" style="display:none" idx="694254" ctg="54"></div>
    </header></div>

    
            <!-- &#53080;&#53584;&#52768; -->
<div id="content" class="content">
    <input type="hidden" class="article_viewAds" value="1">
    <!-- content_section -->
    <div class="content_section">
        <!-- content_top -->
        <div class="content_top">
            <!-- article_head -->
            <div class="article_head">
                <span class="company"></span>

                <h1 id="article" title="BJ 오물풍선, 반려견 압사 사건으로 논란" idx="694254">BJ 오물풍선, 술 취해 반려견 압사 논란... 충격적인 장면 공개</h1>
                <div class="util_wrap">
                    <p class="date_time">2021-10-04 10:24</p>
                    <p class="util_group">
                        <span role="button" title="&#53581;&#49828;&#53944; &#54869;&#45824;"><i class="material-icons plus">add</i></span>
                        <span role="button" title="&#53581;&#49828;&#53944; &#52629;&#49548;"><i class="material-icons minus">remove</i></span>
                        <span role="button" title="&#54532;&#47536;&#53944;" class="print"><i class="material-icons print-icons print">print</i></span>
                        <span role="button" title="&#54168;&#51060;&#49828;&#48513; &#44277;&#50976;" class="share_facebook"><i class="fab fa-facebook-f"></i></span>
                        <span role="button" title="&#53944;&#50948;&#53552; &#44277;&#50976;" class="share_twitter"><i class="fab fa-twitter"></i></span>
                        <span role="button" title="&#54788;&#51116; &#54168;&#51060;&#51648; &#51452;&#49548; &#48373;&#49324;" class="copyTestingCode"><i class="material-icons">link</i></span>
                    </p>
                </div>
            </div>
            <!-- //article_head -->
        </div>
        <!-- //content_top -->
        <!-- content_left -->
        <div class="content_left_wrap">
            <!-- article_body -->
            <div class="article_body">

                <h2 class="lead">
                                        <div style="margin:0px;">
                        &#47564;&#52712; &#49345;&#53468;&#47196; &#51104;&#46308;&#50632;&#45796; &#44053;&#50500;&#51648; &#44628;&#50500;&#47945;&#44064; BJ
                    </div>
                                        <div style="margin:0px;">
                        &#48156;&#48260;&#46181;&#52824;&#45796; &#44208;&#44397; &#50517;&#49324; &#45817;&#54620; &#44053;&#50500;&#51648;
                    </div>
                                    </h2>

                <div class="wikitree_content ar_content" id="wikicon" style="position:relative;">
                    <p>[서울, 2024년 8월 30일] — 인터넷 방송인 BJ 오물풍선(본명 오승현)이 술에 취해 잠든 상태에서 반려견을 압사시켜 사망에 이르게 한 사건이 발생해 큰 논란을 일으키고 있다. 이 사건은 그가 자신의 SNS에 공개한 사진과 함께 알려지며, 많은 이들의 분노를 불러일으켰다.</p>
                        <p>해당 사진에서는 오승현이 술에 취해 침대에 엎드려 자고 있는 모습이 담겨 있다. 그의 몸 아래에는 작은 강아지가 무기력하게 눕혀 있는 모습이 포착되었으며, 이로 인해 많은 사람들이 큰 충격을 받았다.</p>
<div><figure class="article_images_wrap"><img class="figure" data-src="./images/image.png" onerror="changeImgError(this,'https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/img_20211004095402_2a909e63.jpg')" alt="&#51060;&#54616; &#50500;&#54532;&#47532;&#52852;TV &#48169;&#49569; &#52897;&#52376;" width="1294" height="984" src="images/image.png"><figcaption class="figcaption">&#51060;&#54616; &#50500;&#54532;&#47532;&#52852;TV &#48169;&#49569; &#52897;&#52376;</figcaption></figure></div>
<p>    <figure class="article_images_wrap"><img class="figure" data-src="./images/image2.jpg" onerror="changeImgError(this,'https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/img_20211004095212_14bcc7ba.png')" alt="" width="640" height="399" src="images/image2.jpg"><figcaption class="figcaption"></figcaption></figure></p>
<p>사건은 지난 28일 밤에 발생했다. 오승현은 술에 과도하게 취한 상태에서 반려견과 함께 잠들었고, 그 과정에서 반려견이 그의 몸에 깔려 질식사한 것으로 보인다. 오승현은 다음 날 아침에 이 사실을 발견했으며, 즉시 병원으로 데려갔지만 이미 반려견은 사망한 상태였다.</p>
<p>이 사건이 알려지자, 오승현은 SNS를 통해 “사랑하는 반려견을 잃었다. 이는 전적으로 제 잘못이며, 깊이 반성하고 있다”는 내용의 사과문을 게시했다. 그러나 대중의 분노는 쉽게 가라앉지 않고 있다.</p>
<p>동물 보호 단체들은 이번 사건에 대해 깊은 우려를 표명하며, "반려동물 보호자는 항상 주의 깊게 돌봐야 하며, 특히 위험한 상황에서는 더욱 조심해야 한다"고 경고했다.</p>
<p>경찰은 사건 경위를 파악하기 위해 조사 중이며, 법적 처벌 여부를 검토하고 있다. 또한, 그의 방송 플랫폼에서는 이번 사건의 심각성을 고려해 채널에 대한 제재 조치를 논의하고 있는 것으로 알려졌다.</p>
<p>&#54788;&#51116; &#54644;&#45817; BJ &#50500;&#54532;&#47532;&#52852;TV &#52292;&#45328;&#51008; &#55092;&#47732; &#49345;&#53468;&#47196; &#51204;&#54872;&#46096;&#45796;.</p>
<div><figure class="article_images_wrap"><img class="figure" data-src="https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/img_20211004095439_c72cbedd.webp" onerror="changeImgError(this,'https://cdnweb01.wikitree.co.kr/webdata/editor/202110/04/img_20211004095439_c72cbedd.jpg')" alt="&#54644;&#45817; BJ &#50500;&#54532;&#47532;&#52852;TV &#52292;&#45328; &#52897;&#52376;" width="556" height="456" src="images/www.wikitree.co.kr-articles"><figcaption class="figcaption">&#54644;&#45817; BJ &#50500;&#54532;&#47532;&#52852;TV &#52292;&#45328; &#52897;&#52376;</figcaption></figure></div>

                </div>

                                <!-- keyword -->
                <div class="keyword_wrap">
                                        <div>
                        <a href="%EA%B0%95%EC%95%84%EC%A7%80.html"><i class="fas fa-hashtag"></i><span>&#44053;&#50500;&#51648;</span></a>
                    </div>
                                        <div>
                        <a href="%EC%95%95%EC%82%AC.html"><i class="fas fa-hashtag"></i><span>&#50517;&#49324;</span></a>
                    </div>
                                        <div>
                        <a href="BJ.html"><i class="fas fa-hashtag"></i><span>BJ</span></a>
                    </div>
                                    </div>
                
                <!-- article_bottom -->
                <div class="article_bottom">
                    <!-- editor -->
                    <div class="editor">
                        
                        <i class="material-icons" style="vertical-align: bottom;">home</i>
                        <span class="editor_name"> &#50980;&#55148;&#51221; &#44592;&#51088;
                            </span>
                        <span class="editor_email">hjyun@wikitree.co.kr</span>
                    </div>
                    <!-- //editor -->

                    <!-- tip_off -->
                    <div class="tip_off">
                        <a href="mailto:help@wikitree.co.kr?subject=%5B%EA%B8%B0%EC%82%AC%EC%A0%9C%EB%B3%B4%5D">&#44592;&#49324;&#51228;&#48372;</a>
                    </div>
                    <!-- //tip_off -->
                    <div class="copyright" v-on:click="toggle_copyright">copyright</div>
                    <div class="copyright_text" v-if="copyright_text_visible==true">
                        <span>&#50948;&#53412;&#53944;&#47532;&#51032; &#53080;&#53584;&#52768;&#45716; &#52636;&#52376;&#47484; &#48152;&#46300;&#49884; &#54364;&#44592;&#54616;&#50668; &#48708; &#49345;&#50629;&#51201;&#51064; &#50857;&#46020;&#47196;&#47564; &#51060;&#50857;&#54624; &#49688; &#51080;&#49845;&#45768;&#45796;. &#47924;&#45800; &#51204;&#51116;&middot;&#48176;&#54252;&middot;&#51204;&#49569;&#51008; &#50896;&#52825;&#51201;&#51004;&#47196; &#44552;&#54633;&#45768;&#45796;.</span>
                        <span>&#50948;&#53412;&#53944;&#47532;&#45716; <a href="http://official.socialnews.co.kr/service#guideline" title="&#44032;&#51060;&#46300;&#46972;&#51064; &#54168;&#51060;&#51648;&#47196; &#51060;&#46041;" target="_blank">&#45684;&#49828; &#49828;&#53664;&#47532;&#53588;&#47553; &#44032;&#51060;&#46300;&#46972;&#51064;</a>&#51012; &#50628;&#44201;&#55176; &#51456;&#49688;&#54633;&#45768;&#45796;.</span>
                    </div>
                    <!-- //copyright -->
                    <dfp-slot path="/156264644/wikitree_web_copyright" :size="[728,90]" id="wikitree_web_copyright">
                    </dfp-slot>
                    
                                        <ul class="best_small article_list rel_articles">
                                                <li>
                            <a href="979431.html">
                                <div class="thumbnail_wrap">
                                    <img class="thumbnail2" src="images/30-202408301445426126.jpg" alt="">
                                </div>
                                <div>
                                    <p class="title">&ldquo;&#49884;&#50896;&#54624; &#51460; &#50508;&#50520;&#45716;&#45936;&hellip;&rdquo; &#44053;&#50500;&#51648; &#45257;&#48169;&#48337;, &#45908;&#50948; &#54588;&#54616;&#47140;&#45796; &#50640;&#50612;&#52968;&#51060; &#48512;&#47480;&#45796;</p>

                                </div>

                            </a>
                        </li>

                                                <li>
                            <a href="977874.html">
                                <div class="thumbnail_wrap">
                                    <img class="thumbnail2" src="images/25-202408252237137219.jpg" alt="">
                                </div>
                                <div>
                                    <p class="title">&#48176;&#51221;&#45224; &#48152;&#47140;&#44204; &#48296;, &#46160; &#45576; &#46888;&#44256;&#46020; &#47803; &#48127;&#51012; &#49548;&#49885; &#51204;&#54664;&#45796;&hellip; &#51221;&#47568; &#45576;&#47932; &#45212;&#45796;</p>

                                </div>

                            </a>
                        </li>

                                            </ul>
                                        <dfp-slot path="/156264644/wikitree_web_article_bottom_01" :size="[728,90]" id="wikitree_web_article_bottom_01">
                    </dfp-slot>
                </div>

                <!-- //article_bottom -->
            </div>
            <!-- //article_body -->

            <!-- taboola_feed -->
            <div class="taboola_feed_wrap">
                <div id="taboola-below-article-thumbnails"></div>
            </div>
        </div>
        <!-- //content_left -->

        <!-- content_right -->
        <aside class="content_right_wrap">


<!-- /156264644/wikitree_web19_4_side_top -->
<dfp-slot path="/156264644/wikitree_web19_4_side_top" :size="[300, 130]" category="5425" id="div-gpt-ad-sub-contents">
</dfp-slot>


<!-- WIKITREE TV -->
<div class="content_right_inner" v-if="ryoutube">
    <h4><span>WIKITREE TV</span></h4>
    <div v-for="(youtube,index) in  ryoutube" v-if="index&lt;1" class="wikitree_tv">
        <a v-bind:href="(youtube.link)" target="_blank" href="articles.html">
            <span class="thumbnail_wrap">
                <span class="thumbnail" v-bind:style="{'background-image':'url('+youtube.image+'),url(/img/thumbnail_default.jpg)'}" v-bind:alt="(youtube.title)"></span>
            </span>
        </a>
    </div>
</div>

<!-- &#45348;&#51060;&#54000;&#48652; &#44305;&#44256; &#48288;&#49828;&#53944; -->
<div class="content_right_inner" v-if="rnative">
    <h4><span>&#45348;&#51060;&#54000;&#48652; &#44305;&#44256; &#48288;&#49828;&#53944;</span></h4>
    <ul class="best_small article_list">
        <li v-for="article in rnative">
            <a v-bind:href="'/articles/'+(article.ar_id)" href="articles.html">

                <span class="thumbnail_wrap">
                    <img :src="imageReplace(article.ar_image)" v-bind:onerror="'this.src=\''+article.ar_image+'\'; this.onerror = null;'" class="thumbnail2" :alt="article.ar_dptitle" src="images/www.wikitree.co.kr-articles">
                </span>

                <div class="title_wrap">
                    <p class="title" v-text="article.ar_dptitle"></p>
                </div>
            </a>
        </li>
    </ul>
</div>

<!-- &#47928;&#54868;&#50976;&#49328;&#49888;&#53441; &#48176;&#45320; 290 -->
<div class="content_right_inner">
    <dfp-slot path="/156264644/wikitree_web19_4_side_na" :size="[[300, 230], [300, 250]]" id="div-gpt-ad-1575962278586-0"></dfp-slot>
</div>


<!-- &#48288;&#49828;&#53944; &#53364;&#47533; -->
<div class="content_right_inner" v-if="rbest">
    <h4><span><a href="bestclick.html" title="&#54644;&#45817; &#54168;&#51060;&#51648;&#47196; &#51060;&#46041;">&#48288;&#49828;&#53944; &#53364;&#47533;</a></span></h4>
    <ul class="best_small article_list">
        <li v-for="(article,index) in rbest">
            <a v-bind:href="'/articles/'+(article.ar_id)" href="articles.html">
                <span class="thumbnail_wrap ">
                    <img :src="article.ar_image ?  imageReplace(article.ar_image) : '/img/thumbnail_default.jpg'" v-bind:onerror="'this.src=\''+article.ar_image+'\'; this.onerror = null;'" class="thumbnail2" :alt="article.ar_dptitle" src="images/www.wikitree.co.kr-articles">
                    <span class="rank" v-text="index+1"></span>
                </span>
                <div class="title_wrap">
                    <p class="title" v-text="article.ar_dptitle"></p>
                </div>
            </a>
        </li>
    </ul>
</div>
<!-- //&#48288;&#49828;&#53944; &#53364;&#47533; -->


<!-- &#48176;&#49828;&#53944;&#53364;&#47533; &#54616;&#45800; &#48176;&#45320; -->
<div class="content_right_inner">
    <!-- /156264644/wikitree_web19_4_side_bc -->
    <dfp-slot path="/156264644/wikitree_web19_4_side_bc" :size="[300, 250]" id="div-gpt-ad-1575948021345-0">
    </dfp-slot>
</div>

<div class="content_right_inner">
    <!-- /156264644/wikitree_web19_4_side_btm1 -->
    <dfp-slot path="/156264644/wikitree_web19_4_side_btm1" :size="[300, 56]" id="div-gpt-ad-1575948070254-0">
    </dfp-slot>

    <!-- /156264644/wikitree_web19_4_side_btm2 -->
    <dfp-slot path="/156264644/wikitree_web19_4_side_btm2" :size="[300, 56]" id="div-gpt-ad-1575948227194-0">
    </dfp-slot>

    <!-- /156264644/wikitree_web19_4_side_btm3 -->
    <dfp-slot path="/156264644/wikitree_web19_4_side_btm3" :size="[300, 56]" id="div-gpt-ad-1575948275154-0">
    </dfp-slot>
</div>
<div class="content_right_inner">
    <!-- /156264644/wikitree_web19_4_side_btm4 -->
    <dfp-slot path="/156264644/wikitree_web19_4_side_btm4" :size="[300, 600]" id="div-gpt-ad-1575948368312-0">
    </dfp-slot>
</div>
</aside>
        <aside>
            <div class="floating_banner floating_left">
                <div class="floating_banner_item">
                    <!-- /156264644/wikitree_web19_4_wingl1 -->
                    <dfp-slot path="/156264644/wikitree_web19_4_wingl1" :size="[160, 160]" id="div-gpt-ad-1575947540682-0">
                    </dfp-slot>

                    <!-- /156264644/wikitree_web19_4_wingl2 -->
                    <dfp-slot path="/156264644/wikitree_web19_4_wingl2" :size="[160, 600]" id="div-gpt-ad-1575947637325-0" style="margin-top:10px"></dfp-slot>

                    <!-- /156264644/wikitree_web19_4_wingl3 -->
                    <dfp-slot path="/156264644/wikitree_web19_4_wingl3" :size="[160, 600]" id="div-gpt-ad-1575947637123-0" style="margin-top:10px" :class="{ 'floating_fixed' : floating_fixed }"></dfp-slot>

                </div>
            </div>

            <div class="floating_banner floating_right">
                <div class="floating_banner_item">
                    <!-- /156264644/wikitree_web19_4_wingr1 -->
                    <dfp-slot path="/156264644/wikitree_web19_4_wingr1" :size="[160, 600]" id="div-gpt-ad-1576742886065-0">
                    </dfp-slot>
                </div>
                <div class="floating_banner_item_fixed  " :class="{ 'floating_fixed' : floating_fixed }">
                    <div class="floating_banner_item">
                        <!-- /156264644/wikitree_web19_4_wingr2 -->
                        <dfp-slot path="/156264644/wikitree_web19_4_wingr2" :size="[160, 600]" id="div-gpt-ad-1575947688810-0"></dfp-slot>

                    </div>

                    <div class="floating_banner_item">
                        <!-- /156264644/wikitree_web19_4_wingr3 -->
                        <dfp-slot path="/156264644/wikitree_web19_4_wingr3" :size="[160, 200]" id="div-gpt-ad-1576042949726-0"></dfp-slot>

                    </div>
                </div>

            </div>
        </aside>

    </div>
</div>            <footer>
    <div class="footer" id="footer">
        
        <div class="fnb_wrap">
            <button class="fnb_btn" v-on:click="bottomMenu = !bottomMenu"><i class="material-icons">keyboard_arrow_down</i></button>
            <ul class="fnb clearfix ">
                <!-- WIKITREE -->
                <li><a href="www.wikitree.co.html" title="WIKITREE" target="_self">WIKITREE</a>
                    <ul class="fnb_submenu" v-show="bottomMenu">
                        <li><a href="www.wikitree.co.html" title="HOME PAGE" target="_blank">HOME PAGE</a></li>
                        <li><a href="http://tagshop.shop" title="TAGSHOP" target="_blank">TAGSHOP</a></li>
                        <li><a href="https://www.messenger.com/t/wikitree.page" title="&#51228;&#48372;" target="_blank">&#51228;&#48372;</a></li>
                        <li><a href="https://www.facebook.com/wikitree.foundation" title="&#54028;&#50868;&#45936;&#51060;&#49496;" target="_blank">&#54028;&#50868;&#45936;&#51060;&#49496;</a></li>
                    </ul>
                </li>
                <li><a href="http://official.socialnews.co.kr/" title="COMPANY" target="_blank">COMPANY</a>
                    <ul class="fnb_submenu" v-show="bottomMenu">
                        <li><a href="http://official.socialnews.co.kr/socialad" title="SOCIAL AD" target="_blank">SOCIAL
                                AD</a></li>
                        <li><a href="http://official.socialnews.co.kr/service" title="SERVICE" target="_blank">SERVICE</a></li>
                        <li><a href="http://official.socialnews.co.kr/notice" title="WIKITREE NOW" target="_blank">WIKITREE NOW</a></li>
                        <li><a href="http://official.socialnews.co.kr/notice#recruit" title="RECRUIT" target="_blank">RECRUIT</a></li>
                    </ul>
                </li>
                <!-- CONTENTS -->
                <li><a href="javascript:event.html" v-on:click="bottomMenu = !bottomMenu" title="CONTENTS">VERTICAL</a>
                    <ul class="fnb_submenu" v-show="bottomMenu">
                        <li>
                            &#54187; <a href="https://www.facebook.com/wikitree.pet" title="&#54187;" target="_blank"><i class="fab fa-facebook-square" title="&#51060;&#46041;"></i></a>
                            <a href="https://www.instagram.com/wikitree_pet" title="&#54187;" target="_blank"><i class="fab fa-instagram" title="&#51060;&#46041;"></i></a>
                        </li>
                        <li>
                            &#50724;&#45720;&#51008;&#47672;&#45768; <a href="https://www.facebook.com/wikitree.today" title="&#50724;&#45720;&#51008;&#47672;&#45768;" target="_blank"><i class="fab fa-facebook-square" title="&#51060;&#46041;"></i></a>
                            <a href="https://www.instagram.com/today_money_official/" title="&#50724;&#45720;&#51008;&#47672;&#45768;" target="_blank"><i class="fab fa-instagram" title="&#51060;&#46041;"></i></a>
                        </li>
                        <li>
                            &#49352;&#47784;&#45348;&#47784; <a href="https://www.facebook.com/saemonemo" title="&#49352;&#47784;&#45348;&#47784;" target="_blank"><i class="fab fa-facebook-square" title="&#51060;&#46041;"></i></a>
                            <a href="https://www.instagram.com/saemonemo/" title="&#49352;&#47784;&#45348;&#47784;" target="_blank"><i class="fab fa-instagram" title="&#51060;&#46041;"></i></a>
                        </li>
                        
                        
                    </ul>
                </li>
                <!-- SITE -->
                <li><a href="http://official.socialnews.co.kr/site" title="SITE" target="_blank">SITE</a>
                    <ul class="fnb_submenu" v-show="bottomMenu">
                        <li><a href="http://official.socialnews.co.kr/site#conditions" title="&#54924;&#50896;&#50557;&#44288;" target="_blank">&#50557;&#44288; &#48143;
                                &#50868;&#50689;&#50896;&#52825;</a></li>
                        <li><a href="http://official.socialnews.co.kr/site#privacy" title="&#44060;&#51064;&#51221;&#48372;&#52712;&#44553;&#48169;&#52840;" target="_blank">&#44060;&#51064;&#51221;&#48372;&#52712;&#44553;&#48169;&#52840;</a></li>
                        <li><a href="http://official.socialnews.co.kr/site#youthpolicy" title="&#52397;&#49548;&#45380;&#48372;&#54840;&#51221;&#52293;" target="_blank">&#52397;&#49548;&#45380;&#48372;&#54840;&#51221;&#52293;</a></li>
                        <li><a href="http://official.socialnews.co.kr/site#sitemap" title="&#49324;&#51060;&#53944;&#47605;" target="_blank">&#49324;&#51060;&#53944;&#47605;</a></li>
                    </ul>
                </li>
            </ul>v0-if&gt;
        </div>
        <div class="footer_info_wrap">
            <div class="footer_logo">
                <img src="images/img-logo3.png" alt="&#51060;&#48120;&#51648; &#49444;&#47749;">
            </div>
            <div class="footer_info">
                <address>&#49436;&#50872;&#49884; &#47560;&#54252;&#44396; &#49457;&#50516;&#47196; 189 (&#49345;&#50516;&#46041;, K-biz DMC&#53440;&#50892;) 13&#52789; (&#51452;)&#49548;&#49500;&#45684;&#49828; | 02-3789-8900 |
                    &#46321;&#47197;&#48264;&#54840;: &#49436;&#50872; &#50500; 01019 | &#46321;&#47197;&#51068;&#51088;: 2009. 11. 10
                    <br>&#52572;&#52488; &#48156;&#54665;&#51068;: 2010. 02. 02 | &#48156;&#54665;&#51064; : &#51060;&#46041;&#44592; |
                    &#54200;&#51665;&#51064; : &#52292;&#49437;&#50896; | &#52397;&#49548;&#45380; &#48372;&#54840; &#52293;&#51076;&#51088; : &#49552;&#44592;&#50689;
                </address>
                <p>&copy; Social News Co., Ltd. All Right Reserved.</p>
            </div>
            <div class="footer_sns_wrap">
                <ul class="footer_sns">
                    <li><a href="http://wwww.facebook.com/wikitree.page" title="&#50948;&#53412;&#53944;&#47532; &#54168;&#51060;&#49828;&#48513;" target="_blank"><i class="fab fa-facebook-f" title="&#51060;&#46041;"><span class="sr-only">&#50948;&#53412;&#53944;&#47532; &#54168;&#51060;&#49828;&#48513;</span></i></a></li>
                    <li><a href="http://twitter.com/wikitree" title="&#50948;&#53412;&#53944;&#47532; &#53944;&#50948;&#53552;" target="_blank"><i class="fab fa-twitter"><span class="sr-only">&#50948;&#53412;&#53944;&#47532; &#53944;&#50948;&#53552;</span></i></a></li>
                    <li><a href="http://www.instagram.com/wikitree" title="&#50948;&#53412;&#53944;&#47532; &#51064;&#49828;&#53440;&#44536;&#47016;" target="_blank"><i class="fab fa-instagram"><span class="sr-only">&#50948;&#53412;&#53944;&#47532; &#51064;&#49828;&#53440;&#44536;&#47016;</span></i></a></li>
                    <!-- 2020-01-03 &#52292;&#45328; &#49688;&#51221; &#52628;&#44032; -->
                    <li><a href="https://story.kakao.com/ch/wikitree" title="&#50948;&#53412;&#53944;&#47532; &#52852;&#52852;&#50724;&#49828;&#53664;&#47532;" target="_blank">
                            <img src="images/img-icon_ks.png" alt="&#50948;&#53412;&#53944;&#47532; &#52852;&#52852;&#50724;&#49828;&#53664;&#47532; &#50500;&#51060;&#53080;" style="width:16px;">
                        </a></li>
                    <li><a href="https://pf.kakao.com/_uKFHd" title="&#50948;&#53412;&#53944;&#47532; &#52852;&#52852;&#50724;&#53665; &#52292;&#45328;" target="_blank">
                            <img src="images/img-icon_ch.png" alt="&#50948;&#53412;&#53944;&#47532; &#52852;&#52852;&#50724;&#53665; &#52292;&#45328; &#50500;&#51060;&#53080;" style="width:16px;">
                        </a></li>
                    <li><a href="https://post.naver.com/my.nhn?memberNo=21959512" title="&#50948;&#53412;&#53944;&#47532; &#45348;&#51060;&#48260;&#54252;&#49828;&#53944;" target="_blank">
                            <img src="images/img-icon_np.png" alt="&#50948;&#53412;&#53944;&#47532; &#45348;&#51060;&#48260;&#54252;&#49828;&#53944; &#50500;&#51060;&#53080;" style="width:16px;">
                        </a></li>
                    <li><a href="https://www.youtube.com/user/wikitree4you" title="&#50948;&#53412;&#53944;&#47532; &#50976;&#53916;&#48652;" target="_blank">
                            <i class="fab fa-youtube"><span class="sr-only">&#50948;&#53412;&#53944;&#47532; &#50976;&#53916;&#48652;</span></i>
                        </a></li>
                    <li><a href="https://band.us/@wikitreepage" title="&#50948;&#53412;&#53944;&#47532; &#45348;&#51060;&#48260;&#48180;&#46300; &#54168;&#51060;&#51648;" target="_blank">
                            <img src="images/img-icon_nb.png" alt="&#50948;&#53412;&#53944;&#47532; &#45348;&#51060;&#48260;&#48180;&#46300; &#54168;&#51060;&#51648; &#50500;&#51060;&#53080;" style="width:16px;">
                        </a>
                    </li><li><a href="https://www.tiktok.com/@wikitree.official" title="&#50948;&#53412;&#53944;&#47532; &#54001;&#53665;" target="_blank"><i class="fab fa-tiktok"><span class="sr-only">&#50948;&#53412;&#53944;&#47532; &#51064;&#49828;&#53440;&#44536;&#47016;</span></i></a></li>
                    
                    <!-- 2020-01-03 &#52292;&#45328; &#49688;&#51221; &#52628;&#44032; -->
                </ul>
            </div>
        </div>
    </div>
</footer>    

            <script type="application/javascript">
    function changeImgError(e,path){
        if(e.src.search('webp')>0){
            e.src = path
        } else {
             e.src = 'https://m.wikitree.co.kr/img/thumbnail_default.jpg'
        }
    }
    
    </script>
        <script src="js/js-adop_colleapse_1.0.2.min.js" data-id="wikitree_v_our_inr_640x360-191120" data-width="640" data-height="450" data-type="re" data-zone="f11e9e65-2c6e-4cb1-be0f-d0f15662d096"></script>
        <script src="js/js-articles.js" type="text/javascript"></script>

    
     <!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o0eok');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code --> 
</body>

</html>
